body{
  padding-top: 70px;
  background: #666;
}

/* 导航栏 */
nav.navbar{
  background: rgba(255, 255, 255, 0);
  border: none;
}

.container .navbar-header a.navbar-brand{
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
}
.container .navbar-header a.navbar-brand:hover,a:active,a:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

#toggle-navigation ul.nav{
  margin-top: 5px;
  font-size: 16px;
}
#toggle-navigation ul.nav li:not([class=active]) a {
  background: rgba(255, 255, 255, 0);
}
#toggle-navigation ul.nav li a{
  color: rgba(255, 255, 255, 0.9);
}
#toggle-navigation ul.nav li a:hover,a:active,a:focus{
  color: rgba(255, 255, 255, 1);
}

/* 滑动布局*/
#carousel-mainSlide{
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
}
div.carousel-inner {
  height: 100%;
}
div.carousel-inner .item {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
div.carousel-inner div.slide1{
  background-image: url(../img/slide1.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1.jpg', sizingMethod='scale');
}
div.carousel-inner div.slide2{
  background-image: url(../img/slide2.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide2.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide2.jpg', sizingMethod='scale');
}

div.carousel-inner div.slide1 .first-content{
  width: 80%;
  height: 80%;
  color: rgba(255,255,255,1);
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 100px; bottom: auto;
}

@media (max-width: 575px) {
    #carousel-mainSlide h1 {
        font-size:2em
    }

    #carousel-mainSlide h2 {
        font-size: 1.75rem
    }

    #carousel-mainSlide p {
        font-size: 1rem;
        /* max-width: 80% */
    }

    #carousel-mainSlide p.lead {
        font-size: 1.25rem
    }

    #carousel-mainSlide .btn {
        display: block
    }

    #carousel-mainSlide .btn+.btn {
        margin-left: 0;
        margin-top: .5rem
    }
}


/* 自我介绍 */





.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
  display: inline-block;
  /* for IE/Mac */
}
.ft-left{
  float:left;
}
.ft-right{
  float:right;
}
