/* html,body{
  padding: 0;
  margin:0;
} */
.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
  display: inline-block;
  /* for IE/Mac */
}
.ft-left{
  float:left;
}
.ft-right{
  float:right;
}
