body{
  padding-top: 0;
  background: #435a6b;
  color: #fff;
  font-size: 17px;
}
html,body{
  height: 100%;
}

/* 导航栏 */
 nav.navbar{
  background: rgba(255, 255, 255, 0);
  border: none;
}

.container .navbar-header a.navbar-brand{
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
}
.container .navbar-header a.navbar-brand:hover,a:active,a:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

 #toggle-navigation ul.nav{
  margin-top: 5px;
  font-size: 16px;
}
#toggle-navigation ul.nav li:not([class=active]) a {
  background: rgba(255, 255, 255, 0);
}
#toggle-navigation ul.nav li a{
  color: rgba(255, 255, 255, 0.9);
}
#toggle-navigation ul.nav li a:hover,a:active,a:focus{
  color: rgba(255, 255, 255, 1);
}

/* 滑动布局*/
#carousel-mainSlide,.carousel-inner{
  height: 100%;
}

div.carousel-inner .item {
  height: 100%;
  width: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
div.carousel-inner div.slide1{
  background-image: url(../img/slide1.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1.jpg', sizingMethod='scale');
}
div.carousel-inner div.slide2{
  background-image: url(../img/slide2.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide2.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide2.jpg', sizingMethod='scale');
}

div.carousel-inner div.slide2 .second-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.carousel-inner p.lead{
  padding-top: 1.5rem;
}
div.carousel-inner img{
  width:115px; height: 150px;
  margin-top: 10%;
}
div.carousel-inner .carousel-caption a{
  font-size: 2em;
  color: #fff
}


 @media (max-width: 575px) {
    #carousel-mainSlide h1 {
        font-size:2em;
    }

    #carousel-mainSlide h2 {
        font-size: 1.5em;
    }

    #carousel-mainSlide p {
        font-size: 1.5rem;
        /* max-width: 80% */
    }

    #carousel-mainSlide p.lead {
        font-size: 1.5rem;
    }

    #carousel-mainSlide img{
        margin-top: 30%;
    }
}

/* 自我介绍 */
div#intro{
  background-color: #2ac56c;
  /* height: 100%; */
  box-sizing: border-box;
  /* position:relative; */
}
 .title{
  width: 19%;
  margin: 0 auto 1rem;
  text-align: center;
}
 .title h2{
  padding-top: 10px;
  margin-top: 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 1rem;
}

#intro .container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro .container-fluid .intro-content {
  background-color:#16a085;
  border-radius: 30px;
  width: 80%;
  margin: 5%;
  padding-top: 3%;
}
#intro .container-fluid .intro-content .content-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#intro .container-fluid .intro-content .marker{
  width:90px;
  height: 90px;
  color: black;
  border-radius: 50px;
  border:4px solid rgba(255,255,255,0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .container-fluid .intro-content .text{
  padding:10px;

}
#intro .container-fluid .intro-content .text span{
  padding-top:5px;
  border-top:2px solid white;
}
/* 伪元素实现动态效果 */
#intro .container-fluid .intro-content .text span{
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
}
#intro .container-fluid .intro-content .text span:hover::before,.text span:hover::after{
  	position: absolute;
}
#intro .container-fluid .intro-content .text span:hover::before{
    content: "\5B";
    left: -15px;
}
#intro .container-fluid .intro-content .text span:hover::after{
    content: "\5D";
    right: -15px;
}

#intro .container-fluid .intro-exp{
  position: relative;
  margin: 5%;
  padding: 1rem;
  /* background-color:#16a085; */
  width: 80%;
  text-align: center;
}
#intro .container-fluid .intro-exp::before,.intro-exp::after{
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
}
#intro .container-fluid .intro-exp::before{
  top:5px;
  left:5px;
  border-top: 3px solid #16a085;
  border-left: 3px solid #16a085;
}
#intro .container-fluid .intro-exp::after{
  bottom:5px;
  right:5px;
  border-right: 3px solid #16a085;
  border-bottom: 3px solid #16a085;
}
#intro .container-fluid .intro-exp:hover::before,.intro-exp:hover::after{
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
}
#intro .container-fluid .intro-exp:hover::before{
  top:0;
  left:0;
  border-top: 3px solid #5686D6;
  border-left: 3px solid #5686D6;
}
#intro .container-fluid .intro-exp:hover::after{
  bottom:0;
  right:0;
  border-right: 3px solid #5686D6;
  border-bottom: 3px solid #5686D6;
}


@media (max-width: 768px) {
  #intro h2 {
    font-size: 2rem;
  }
  #intro p {
      font-size: 1.5rem;
      /* max-width: 80% */
  }
}

/* skills布局 */
#skills{
  background-color: #0e83cd;
  /* height: 100%; */
}

#skills .title{
  width: 19%;
  margin: 0 auto 1rem;
  text-align: center;
  margin-bottom: 8rem;
}
#skills .title h2{
  padding-top: 10px;
  margin-top: 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 1rem;
}

#skills .container{
    padding-bottom: 8rem;
}
#skills .container header{
  background-color: #2573a7;
  border-radius: 6px;
  height: 7rem;
  padding: 1rem;
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
#skills .container header .logo{
  width: 6rem;
  height: 6rem;
  margin-top: 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 0rem;
  box-sizing: border-box;
}
#skills .container h3{
  font-size: 1.5em;
  padding: 0.5rem;
}


@media (max-width: 768px) {
  #skills h2 {
    font-size: 2rem;
  }
  #skills .container h3 {
    font-size: 1em;
  }
  #skills p {
      font-size: 1.5rem;
      /* max-width: 80% */
  }
}


#programs{
  background-color: #ffc107;
  /* height: 100%; */
}
#carousel-programs {
  height: 100%;
}
#carousel-programs .carousel-inner{
  /* border: 10px solid red; */
}
#carousel-programs .carousel-inner .item .row{
  /* border: 5px solid green; */
  padding-left: 8%;
  padding-right: 8%;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-programs .carousel-inner .item .pics img{
  /* border: 5px solid pink; */
  width: 100%;
  height: auto;
  margin:15% auto;
}
#carousel-programs .carousel-inner article{
  /* border: 5px solid blue; */
  margin:auto;
}
#carousel-programs .carousel-inner article ul li{
  font-size: 1.8rem;
  line-height: 2;
}
#carousel-programs .carousel-inner article ul li strong{
  /* color: rgba(100,100,100,1); */
}

@media (max-width: 768px) {
  #programs h2 {
    font-size: 2rem;
  }
  #programs .container h3 {
    font-size: 1em;
  }
  #programs p {
      font-size: 1.5rem;
      /* max-width: 80% */
  }
  #carousel-programs .carousel-inner .item .row{
    flex-direction: column;
  }
  #carousel-programs .carousel-inner .item article{
    margin-bottom: 5rem;
  }
}

#footer{
  background-color: #435a6b;
  line-height: 2.5em;
  text-align: center;
}




.clearfix::after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
  display: inline-block;
  /* for IE/Mac */
}
.ft-left{
  float:left;
}
.ft-right{
  float:right;
}
